In [1]:
import csv
import json
import pandas as pd
import glob

In [2]:
# chunk = pd.read_csv("mimic-iii-clinical-database-1.4/INPUTEVENTS_MV.csv", chunksize=10000000) 
# data = chunk.get_chunk(10000)

In [18]:
# filename = "mimic-iii-clinical-database-1.4/CHARTEVENTS.csv"
# chunksize = 10 ** 6
# for chunk in pd.read_csv(filename, chunksize=chunksize):
#     print(len(chunk[chunk["SUBJECT_ID"] == 36]))
# #     > 0:
# #         print(lenchunk)

In [4]:
def patientRecord(path, subjectId, chunksize=10 ** 6):
#     data = None
    for chunk in pd.read_csv(path, chunksize=chunksize):
        data = chunk[chunk["SUBJECT_ID"] == subjectId]
        if len(data) > 0:
            break
    return data

In [5]:
path = "mimic-iii-clinical-database-1.4/CHARTEVENTS.csv"
chartevent_36 = patientRecord(path,36)

In [6]:
data_36 = {}

In [7]:
g = glob.glob("mimic-iii-clinical-database-1.4/*.csv")

for path in g:
    print(path)
    try:
        name = path.split("/")[-1][0:-4]
        data = patientRecord(path,36)
        data_36[name] = data
    except:
        print(name)

mimic-iii-clinical-database-1.4/INPUTEVENTS_CV.csv

/home/parth/nogpu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

mimic-iii-clinical-database-1.4/PROCEDURES_ICD.csv
mimic-iii-clinical-database-1.4/D_CPT.csv
D_CPT
mimic-iii-clinical-database-1.4/LABEVENTS.csv
mimic-iii-clinical-database-1.4/DRGCODES.csv
mimic-iii-clinical-database-1.4/DATETIMEEVENTS.csv
mimic-iii-clinical-database-1.4/SERVICES.csv
mimic-iii-clinical-database-1.4/ICUSTAYS.csv
mimic-iii-clinical-database-1.4/TRANSFERS.csv
mimic-iii-clinical-database-1.4/D_LABITEMS.csv
D_LABITEMS
mimic-iii-clinical-database-1.4/D_ICD_PROCEDURES.csv
D_ICD_PROCEDURES
mimic-iii-clinical-database-1.4/CALLOUT.csv
mimic-iii-clinical-database-1.4/PATIENTS.csv
mimic-iii-clinical-database-1.4/INPUTEVENTS_MV.csv
mimic-iii-clinical-database-1.4/ADMISSIONS.csv
mimic-iii-clinical-database-1.4/DIAGNOSES_ICD.csv
mimic-iii-clinical-database-1.4/MICROBIOLOGYEVENTS.csv
mimic-iii-clinical-database-1.4/NOTEEVENTS.csv

/home/parth/nogpu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

mimic-iii-clinical-database-1.4/D_ITEMS.csv
D_ITEMS
mimic-iii-clinical-database-1.4/CAREGIVERS.csv
CAREGIVERS
mimic-iii-clinical-database-1.4/PROCEDUREEVENTS_MV.csv
mimic-iii-clinical-database-1.4/PRESCRIPTIONS.csv
mimic-iii-clinical-database-1.4/CHARTEVENTS.csv
mimic-iii-clinical-database-1.4/CPTEVENTS.csv

/home/parth/nogpu/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3249: DtypeWarning: Columns (4,5,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

mimic-iii-clinical-database-1.4/OUTPUTEVENTS.csv
mimic-iii-clinical-database-1.4/D_ICD_DIAGNOSES.csv
D_ICD_DIAGNOSES

In [11]:
data_36.keys()

dict_keys(['INPUTEVENTS_CV', 'PROCEDURES_ICD', 'LABEVENTS', 'DRGCODES', 'DATETIMEEVENTS', 'SERVICES', 'ICUSTAYS', 'TRANSFERS', 'CALLOUT', 'PATIENTS', 'INPUTEVENTS_MV', 'ADMISSIONS', 'DIAGNOSES_ICD', 'MICROBIOLOGYEVENTS', 'NOTEEVENTS', 'PROCEDUREEVENTS_MV', 'PRESCRIPTIONS', 'CHARTEVENTS', 'CPTEVENTS', 'OUTPUTEVENTS'])

In [20]:
data_36["INPUTEVENTS_CV"].head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,RATEUOM,...,ORDERID,LINKORDERID,STOPPED,NEWBOTTLE,ORIGINALAMOUNT,ORIGINALAMOUNTUOM,ORIGINALROUTE,ORIGINALRATE,ORIGINALRATEUOM,ORIGINALSITE
146883,147298,36,182104.0,280987.0,2131-05-04 22:00:00,30056,30.0,ml,NaN,NaN,...,7442931,7442931,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
146884,147299,36,182104.0,280987.0,2131-05-05 00:00:00,30056,NaN,ml,NaN,NaN,...,8624517,7442931,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
146885,147300,36,182104.0,280987.0,2131-05-05 03:00:00,30056,NaN,ml,NaN,NaN,...,3517759,7442931,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
146886,147301,36,182104.0,280987.0,2131-05-05 09:00:00,30056,240.0,ml,NaN,NaN,...,9832044,7442931,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN
146887,147302,36,182104.0,280987.0,2131-05-05 12:00:00,30056,240.0,ml,NaN,NaN,...,9894203,7442931,NaN,NaN,NaN,ml,Oral,NaN,NaN,NaN